.container {

    position: relative;
    width: 50vw;

    svg[data-icon='magnifying-glass'] {
        position:absolute;
        top:50%;
        left:2.5%;
        font-size:1.5rem;
        transform:translate(0, -50%);
    }

    input {
        width:100%;
        height: 3.5rem;
        font-size: 1.6rem;

        outline: none;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 2vw;
        padding: 0 0 0 7%;
    }

}
