@font-face {
    font-family: 'Cookie';
    src : url('../public/fonts/Cookie-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src : url('../public/fonts/DancingScript-Bold.ttf');
    font-weight :normal;
    font-style : normal;
}

@font-face {
    font-family: 'DancingScript';
    src : url('../public/fonts/DancingScript-Bold.ttf');
    font-weight :normal;
    font-style : normal;
}

@font-face {
    font-family: 'DancingScript';
    src : url('../public/fonts/DancingScript-Bold.ttf');
    font-weight :bold;
    font-style : normal;
}

@font-face {
    font-family: 'DancingScript';
    src : url('../public/fonts/DancingScript-Bold.ttf');
    font-weight :bolder;
    font-style : normal;
}


@font-face {
    font-family: 'Pacifico';
    src : url('../public/fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Parisienne';
    src : url('../public/fonts/Parisienne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GreatVibes';
    src : url('../public/fonts/GreatVibes-Regular.ttf') format('truetype');
}