@import './fonts';

html, body {
    padding:0;
    margin:0;
}

body {

    display:flex;
    flex-direction: column;
    align-items: center;

}

#home {

    height:100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titre_principal {
        font-family: 'Parisienne';
        font-size: 5.5vw;
        margin:0;
        color:black;
    }

}
